@model MVCPARCIAL1.Models.MauroHernandezFriend

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MauroHernandezFriend</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeFriend)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeFriend)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nickname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nickname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Friend)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Friend)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FriendId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
